/*** Base Styles ***/
*{
	box-sizing: border-box;
    padding: 0;
    margin-top: 15px;
}
h1{
	text-align: center;
	margin-bottom: 20px;
}
.row{
	width:100%;
}
#first {
	border: 1px solid black;
    background-color: #A5889C;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
#box1 {
	border: 1px solid black;
	background-color: #FF33BE;
}
#second{
	border: 1px solid black;
    background-color: #A5889C;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
#box2{
	border: 1px solid black;
	background-color: #B12E1A;
}
#third{
	border: 1px solid black;
    background-color: #A5889C;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
#box3{
	border: 1px solid black;
	background-color: #D3C217;
}
/*** Desktop ***/
@media (min-width: 992px){
	.col-lg-4{
		float: left;
		width: 33.33%;

	}
}


/*** Tablet ***/
@media (min-width: 768px) and (max-width: 991px){
	.col-md-6{
		float: left;
		width: 50%;
	}
}

/*** Mobile ***/
@media (max-width: 767px){
	.col-sm-12{
		float: left;
		width: 100%;
	}
}